@use './styles/colors'; 


.App {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: colors.$bg-color-lighter;
}

.header {
  width: 100%;
  height: 100px;
  background-color: colors.$bg-color;
  color: colors.$text-color;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  .hamburger {
    display: none;
  }

  @media (max-width: 980px) {
    .nav-links {
      display: none;
    }

    .hamburger {
      display: block;
      max-height: 60%;
      margin-right: 25px;
    }
  }

  .navLogo {
    margin: 25px;
    font-size: 35px;
    text-decoration: none;
    color: colors.$text-color;
  }
}

.nav-link {
  color: colors.$text-color;
  text-decoration: none;
  font-size: 30px;
  margin-right: 40px;
}

.nav-link-active {
  color: colors.$highlight;
  text-decoration: none;
  font-size: 32px;
  margin-right: 40px;
}

.nav-menu {
  display: none;
}

.nav-menu-expanded {
  display: block;
  background-color: colors.$bg-color;
  gap: 10px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: colors.$bg-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;

  img {
    max-height: 32px;
    margin-right: 5%;
  }

  img:hover {
    min-width: 64px;
    min-height: 64px;
  }

  a {
    margin-right: 2%;
    margin-left: 2%;
  }
}

.signin {
  background-color: colors.$bg-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;

  .signin-form {
    width: 40vw;
    height: 30vh;
    background-color: colors.$text-color;
    text-align: center;
    padding: 2%;
    margin-top: 10%;

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        color: colors.$bg-color;
        margin: 25px;
        height: 25px;
        width: 80%;
        border-style: none none solid none;
        border-color: colors.$bg-color;
      }

      .submit {
        background-color: colors.$bg-color;
        color: colors.$text-color;
        font-weight: bold;
        font-size: 25px;
        width: 30%;
        border-radius: 20px;
        height: 50px;
        border: none;
        outline: none;
      }

      .submit:hover {
        opacity: 80%;
      }
    }
  }
}

.error {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: colors.$text-color;
}

.loading {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  height: 100vh;
  .ball {
    margin: 5% 10px 10px 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: colors.$bg-color;
    animation: loading-an 1.5s linear infinite;
  }

  .ball:nth-child(2) {
    animation-delay: 0.5s;
  }

  .ball:nth-child(3) {
    animation-delay: 1s;
  }

  @keyframes loading-an {
    0% {
      transform: scale(1);
    }

    80% {
      transform: scale(1.5);
      background-color: colors.$highlight;
    }

    100% {
      transform: scale(1);
    }
  }
}